
#footer-root {
    color: #e94560;
    background-color:#0f3460;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 8px 0;
}

#footer-name-date {
    text-align: center;
    padding-top: 17px;
    font-weight: bold;
}

#footer-social-links {
    padding: 0 0;
    align-items: center;
    justify-content: center;
    display: flex;
    list-style: none;
}

#footer-social-links li {
    font-size: 1.3rem;
    margin: 0 7px;
}

#footer-social-links a {
    color: #e94560;
}

#footer-social-links li:hover {
    opacity: .7;
}